@font-face {
    font-family: 'Palatino Linotype';
    font-style: normal;
     font-weight: 400;
     src: url('/assets/font/palatinolinotype_roman.ttf');
}
.time1{
    text-align: right;
}
#table_events{
    border-spacing: 0px;
    border-collapse: collapse;
    font-size: 0.8vw;
    color: black;
    width: 100%;
}
#table_events tr{
    vertical-align: baseline;
    height: 4vw;
    background-image: url(assets/img/top_line.png);
    background-size: 100% 40%;
    background-repeat: no-repeat;
    background-position: bottom;
}
#table_top{
    font-size: 0.7vw;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
}
#table_top tr{
    vertical-align: baseline;
    height: 2.3vw;
background-image: url('assets/img/top_line.png');
background-size: 100% 40%;
background-repeat: no-repeat;
background-position: bottom;
}
#table_top td, #table_events .name, #table_events .time {
    text-align: center;
    color: #3f3124;
    font-weight: bold;
    font-size: 1vw;
}
#table_top th {
   
    color: #3f3124;
    font-weight: normal;
}

#desc2{
    color:#4F75FF;
}
#desc_equip, #cost2{
    color: #f5f5f591;
}
.market_item{
    cursor: pointer;
}
.market_item_img{
    height: 4vw;
    width: 4vw;
    margin: 0 auto;
    display: block;
}
#modal_market_detail{
    font-size: 0.8vw;
    display: none;
    /* box-sizing: border-box; */
    padding: 2vw;
    text-align: center;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 15.5vw;
    height: 11.5vw;
    background-image: url('assets/img/modal_back.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.online_count, .online_count_today{
    color: #3f3124;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
}
.online_count_value{
    color: #920404;
}
.server_perehod{
    margin: 2vw auto;
    display: block;
    width: 50%;
}
.frame_left{
    width: 1.4vw;
    position: absolute;
    bottom: -0.4vw;
    left: -0.2vw;
}
.frame_right{
    width: 1.4vw;
    position: absolute;
    bottom: -0.5vw;
    right: -0.2vw;
}
.scale_back{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #4AFF46, #18B015);
}
.scale{
    position: absolute;
    bottom: 0;
    height: 0.5vw;
    left: 0;
    margin: auto;
    right: 0;
    width: 89%;
    
    border: solid 0.05vw black;
}
.server_type{
    font-size: 1vw;
    color: #920404;
}
.value{
    float: right;
}
.server{
    padding: 0.3vw 2vw 0 1vw;
    font-weight: bold;
    border: none;
    color: #3f3124;
    width: 100%;
    height: 3.5vw;
    position: relative;
    box-sizing: border-box;
    font-size: 1.3vw;
}
.master1, .master2, .origin1{
    padding-left: 2vw;
} 
.deusx1000 .scale{
    background-image: linear-gradient(to right, #BE0000, #FF0000);

}
.login_button, .market_button{
    cursor: pointer;
    font-size: 0.7vw;
    background-color: transparent;
    border: none;
    margin: 2vw 17%;
    width: 50%;
    height: 2.5vw;
    color: #cdcbcb;
    margin: 1vw auto;
    display: block;
    text-align: center;
    background-image: url(assets/img/loginbtn.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.bot_check{
    box-sizing: border-box;
    text-align: left;
    line-height: 1vw;
    font-size: 0.7vw;
    height: 1.5vw;
    color: #3f3124;
    font-weight: bold;
    margin: 1vw 2vw;
    
}

#server_choose option{
    background: black;
}
.input, .market_item, #server_choose{
    font-size: 0.7vw;
    background-image: url('assets/img/answ_back.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    border: none;
    color: #cacaca;
    background-color: transparent;
    width: 100%;
    height: 1.5vw;
    margin-bottom: 0.6vw;
    display: block;
    /* line-height: 3.5vw; */
    box-sizing: border-box;
    padding: 0.3vw;
}
#server_choose{
    font-size: 0.8vw;
    height: 2vw;
}
.market_item{
    margin-bottom: 0.3vw;
}
.market_header{
    margin-bottom: 1vw;
}
.profile, .server_stat, .market,.top, .events{
    margin: 2vw 17%;
    width: 50%;
}
.profile_header, .server_header, .market_header, .top_header, .events_header{
    font-size: 1vw;
    
    height: 3.5vw;
    line-height: 3.5vw;
    text-align: center;
    background-image: url('assets/img/profile_header.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.btn{
    cursor: pointer;
    position: absolute;
    top:7.5vw;
    width: 1.7vw;
}
.btn_container{
    position: absolute;
    height: 100%;
    width: 100%;
}
.screen_container{
    overflow: hidden;
    right: 0;
    position: absolute;
    height: 100%;
    margin: auto;
    left: 0;
    width: 87%;
}
.left{left:3vw;}
.right{left:5vw;}
.btn2{
    cursor: pointer;
    position: absolute;
    top: 4.2vw;
    width: 1.7vw;
}
#left2{left:1vw;}
#right2{left:35.5vw;}
.event_start{
    position: absolute;
    bottom: 2vw;
    left: 3vw;
    font-size: 1.5vw;
    font-family: 'Palatino Linotype', sans-serif;
    font-weight: bold;
    color: #cdcbcb ;
}
#startTime{
    font-size: 3vw;
}
.banner_top{
    position: absolute;
    top: 2vw;
    left: 3vw;
    font-size: 1.5vw;
    font-family: 'Palatino Linotype', sans-serif;
    font-weight: bold;
    color: #cdcbcb ;
}
body{
    color: #cdcbcb;
    padding: 22vw 22.5vw 6.2vw 15.8vw;
    background-image: url(assets/img/main_back.png);
    margin: 0;
    font-family: 'Palatino Linotype', sans-serif;
    background-position-x: -1vw;
}

.wrapper{
    position: relative;
    box-sizing: border-box;
    /* height: 100%; */
    
}
.screen_slider{
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 10vw;
    text-align: center;
    line-height: 10vw;
    width: 38vw;
    margin: 0 auto;
}
.screen{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 8vw;
    height: 6vw;
    
}
.screenshot{
    background: linear-gradient(to top, #00000029, #00000029), no-repeat center/89%  url(assets/img/screen.png), no-repeat center/100% url(assets/img/screenframe.png);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 89%;
    width: 89%;
}
.screenshot:hover{
    height: 100%;
    width: 100%;
    background: no-repeat center/89%  url(assets/img/screen.png), no-repeat center/100% url(assets/img/screenframe.png);

}
.right_panel{
    display: inline-block;
    background-size: 100% auto;
    width: 28vw;
    /* z-index: -1; */
    background-image: url('assets/img/right_panel.png');
    position: absolute;
    top: 0;
    bottom: 0;
}
.footer_cont{
    background-image: url('assets/img/footer_cont.png');
    background-size: 100%;
    margin-left: -3.5vw;
    width:  65.45vw;
    height: 5vw;
    
    
}
.news{
    background-image: url('assets/img/news_back1.png');
    background-size: 100% 100%;
    margin: 0 auto;
    
    width: 34.1vw;
    padding: 1.1vw 1.1vw; 
    box-sizing: border-box;
}
.news2{
    margin: 0 auto;
    background-image: url('assets/img/news_back1.png');
    background-size: 100% 100%;
    
    height: 16.7vw;
    width: 34.1vw;
    
    padding: 1.1vw 1.1vw; 
    box-sizing: border-box;
}
.news2_inner{
    height: 100%;
    text-align: justify;
    color: #cdcbcb;
}
.news_header{
    color: #cdcbcb;
    font: 1.5vw bold;
    font-family: 'Palatino Linotype', sans-serif;
}

.news_body{
    margin-top: 0.5vw;
    margin-bottom: 0;
    font-size: 0.75vw;
    color: #cdcbcb;
    font-family: 'Palatino Linotype', sans-serif;
}
.views{
    margin-top: 0.5vw;
}
.views_name{
    font-size: 0.75vw;
    margin-right: 0.5vw;
}
.views_count{
    font-size: 0.75vw;
    font-weight: bold;
    margin-right: 0.5vw;
}
.views_date{
font-size: 0.5vw;
padding: 0.2vw;
    border-radius: 4px;
    background: #ffb14763;
}
.logo{
    background-image: url('assets/img/logo.png');
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 0;
    height: 40.67vw;
}
.header{
    background-image: url('assets/img/header.png');
    background-size: 100% 100%;
    position: absolute;
    top: 18vw;
    left: 15.5vw;
    height: 6vw;
    z-index: 3;
    width: 66vw;
    padding-left: 3vw;
    padding-right: 10vw;
    box-sizing: border-box;
}
.header table{
    table-layout: fixed;
    text-align: center;
    font-size: 1.1vw;
    color: #cdcbcb ;
    width: 100%;
    height: 4.5vw;

}
.header td:hover{
    background-image: url('assets/img/header_hover.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 1.2vw;
    font-weight: bold;
    cursor: pointer;
}
.header td{
    
    position: relative;
    width: 100%;
}

.news_inner{
    height: 100%;
    text-align: justify;
    color: #cdcbcb ;
    
}
.news_video{
    border: 0.25vw solid #ffb14763;
    border-style: groove;
    width: 100%;
    height: 18.4vw;
    position: relative;
    margin-top: 1vw;
}
.frame{
    position: absolute;
    width: 2vw;
}
.leftTop{
    left:-0.7vw;
    top: -0.5vw;
}
.rightTop{
    right:-0.5vw;
    top: -0.7vw;
}
.leftBottom{
    left:-0.5vw;
    bottom: -0.7vw;
}
.rightBottom{
    right:-0.7vw;
    bottom: -0.5vw;
}
.news_text{
    margin-top: 0.5vw;
    font-size: 0.8vw;
}
.news_head{
    
    color: #cdcbcb ;
    text-align: center;
    font-size: 1.5vw;
    line-height: 5vw;
    margin: 0 auto;
    width: 20vw;
    height: 5vw;
    background-image: url(assets/img/table_back.png);
    background-size: 100% 100%;
}
.banner{
    position: relative;
    background-image: url('assets/img/banner.png');
    width: 38.5vw;
    height: 22.7vw;
    background-size: 100% 100%;
}
.perehod {
    height: 3.15vw;
    width: 38.5vw;
}
.body{
    background-image: url('assets/img/cont_back.png');
    background-repeat: repeat-y;
    background-size: 110vw auto;
    background-position-x: -7vw;
    vertical-align: top;
    display: inline-block;
    width: 38.5vw;
    padding-left: 3.5vw;
}
.menu img{
    position: absolute;
    right: 0;
    top: 0.5vw;
    height: 3vw
}